.btn-primary {
    --primary-color: #f4b63f;
    --bs-btn-bg: #ffffff;
    --bs-btn-border-color: #ffffff;
    --bs-btn-hover-color: #f4b63f;
    --bs-btn-hover-bg: #ffffff;
    --bs-btn-hover-border-color: #ffffff;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #f4b63f;
    --bs-btn-active-bg: #f4b63f;
    --bs-btn-active-border-color: #ffffff;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(255, 254, 254, 0.125);
    --bs-btn-disabled-color: #f4b63f;
    --bs-btn-disabled-bg: #ffffff;
    --bs-btn-disabled-border-color: #ffffff;
}

.btn-primary:hover {
    background-color: #343a40;
    border: none;
    transition: all 0.5s ease;
}

.btn-secondary:hover {
    background-color: #343a40;
}

.hidden {
    overflow: hidden;
}

.loader {
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
}

.spinner {
    width: 40px;
    height: 40px;
    border: solid 4px transparent;
    border-top-color: #f4b63f !important;
    border-left-color: #f4b63f !important;
    border-radius: 50%;
    animation: spinner 400ms linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #f4b63f;
    --bs-btn-border-color: #f4b63f;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #f4b63f;
    --bs-btn-hover-border-color: #f4b63f;
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #f4b63f;
    --bs-btn-active-border-color: #f4b63f;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #f4b63f;
    --bs-btn-disabled-border-color: #f4b63f;
}

.box:hover {
    box-shadow: 0 5px 10px 0 rgba(52, 58, 64, .1);
}

body {
    font-family: "Mulish", sans-serif;
}

.pt-100 {
    padding-top: 100px;
}

.pb-100 {
    padding-bottom: 100px;
}

.sidebar {
    width: 100px;
    height: 100vh;
    border-right: 1px solid #f8f9fa;
    background-color: white;
    position: fixed;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
}

ul>li>a {
    color: #343a40;
    font-size: 16px;
    font-weight: 700;
    font-family: 'mulish', sans-serif;
}

.nav-items {
    transform: rotate(-90deg);
    color: #343a40;
    margin: 80px 0px;
}

.nav-items a.active {
    color: #ffb400 !important;
}

.nav-items a.active:after {
    position: absolute;
    content: "";
    left: 0;
    top: 30px;
    width: 6px;
    height: 6px;
    background-color: #ffb400;
    right: 5px;
    bottom: -5px;
    border-radius: 50%;
    text-align: center;
    margin: auto;
}

.theam-btn {
    background-color: #f8f9fa;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0px auto;
    text-align: center;
    color: #343a40;
    cursor: pointer;
    margin-bottom: 50px;
}

.theam-btn>i {
    font-size: 18px;
    padding-top: 10px;
    display: inline-block;
}

.banner {
    background-image: url('../img/banner/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.content {
    padding-top: 25%;
}

.head {
    font-weight: 900;
    font-size: 50px;
}

.info {
    margin-top: 31%;
}

.heading {
    position: relative;
    z-index: 1;
    display: flex;
    gap: 5px;
    margin-bottom: 50px;
}

.heading-shape {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 2px solid #152035;
    display: block;
    position: relative;
}

.heading-shape:after {
    position: absolute;
    content: "";
    left: -6px;
    top: 2px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #ffb400;
    z-index: -1;
}

.heading-content {
    font-size: 16px;
}

.heading-content a {
    font-size: 28px;
    margin-top: -20px;
    font-weight: 1000;
    color: #152035;
    display: inline-block;
}

.me img {
    border-radius: 20px;
    max-width: 520px;
    height: 340px;
    object-fit: cover;
}

.me img:hover {
    box-shadow: 0 5px 10px 0 rgba(52, 58, 64, .1);
}

.box {
    background-color: #F8F9FA;
    border-radius: 20px;
}

.box-content h4 {
    font-weight: 900;
}

.parts span {
    font-weight: 900;
}

.card-box h2 {
    font-weight: 900;
    font-size: 40px;
    margin-right: 10px;
}

.ui-info {
    margin-left: 60px;
    margin-top: -10px;
    background-color: #ffffff;
    max-width: 200px;
    border-radius: 50px;
}

.ui img {
    margin-right: 10px;
}

.ui p {
    font-size: 18px;
    font-weight: 900;
    margin-left: 9px;
}

.dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #f4b63f;
    display: block;
    margin: 0px 5px;
}

.ui-info span {
    font-size: 14px;
    margin-left: 10px;
    font-weight: 700;
}

.ui-text {
    font-size: 14px;
    margin-left: 65px;
}

.Services,
.contact {
    background-color: #f8f9fa;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #ffb400;
    background-color: transparent;
}

.nav-link {
    color: #343a40;
    margin: 80px 0px;
    transform: rotate(-90deg);
}

.card-body {
    padding: 0px;
}

.card:hover {
    transition: all 0.5s ease;
    box-shadow: 0 5px 10px 0 rgba(52, 58, 64, .1);
}

.p-box {
    width: 416px;
    height: 492px;
    background-color: #f8f9fa;
    border-radius: 20px;
    padding: 25px;
    position: relative;
}

.p-box:hover {
    box-shadow: 0 5px 10px 0 rgba(52, 58, 64, .1);
    transition: all 0.5s ease;
}

.p-img {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.p-img img {
    border-radius: 20px;
    transition: all .7s ease-in-out;
}

.p-img:hover.p-img img {
    transform: scale(1.2);
}

.p-img:hover.plus {
    opacity: 1;
}

.p-text h5 {
    font-weight: 900;
}

.card {
    position: relative;
}

.card::before {
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    background-color: #d9d9d9;
    border-radius: 50%;
    right: 40%;
    top: 30%;
}

.contact-icon svg {
    width: 40px;
    height: 40px;
    background-color: #ffb400;
    color: #ffffff;
    border-radius: 50%;
    padding: 12px;
}

.contact:hover {
    box-shadow: 0 5px 10px 0 rgba(52, 58, 64, .1);
    transition: all 0.5s ease;
}

.scroll-none img::-webkit-scrollbar {
    display: none;
}

button.owl-dot.active {
    background-color: #ffffff;
}
.social-media svg:hover {
    color: #ffb400;
}
.img-radius{
    border-radius: 20px;
}
.img-bg{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #ffb400;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.cd-title {
    position: relative;
    height: 160px;
    line-height: 230px;
    text-align: center;
}
.cd-title h1 {
    font-size: 40px;
    font-weight: 700;
}
.cd-headline.rotate-1 .cd-words-wrapper {
    -webkit-perspective: 300px;
    -moz-perspective: 300px;
    perspective: 300px;
}
.cd-headline.type .cd-words-wrapper {
    vertical-align: top;
    overflow: hidden;
}
.cd-headline.type .cd-words-wrapper::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 90%;
    width: 1px;
    background-color: #aebcb9;
}
.cd-headline.type .cd-words-wrapper.waiting::after {
    -webkit-animation: cd-pulse 1s infinite;
    -moz-animation: cd-pulse 1s infinite;
    animation: cd-pulse 1s infinite;
}
.cd-headline.type .cd-words-wrapper.selected {
    background-color: #aebcb9;
}
.cd-headline.type .cd-words-wrapper.selected::after {
    visibility: hidden;
}
.cd-headline.type .cd-words-wrapper.selected b {
    color: #0d0d0d;
}
.cd-headline.type b {
    visibility: hidden;
}
.cd-headline.type b.is-visible {
    visibility: visible;
}
.cd-headline.type i {
    position: absolute;
    visibility: hidden;
}
.cd-headline.type i.in {
    position: relative;
    visibility: visible;
}

